.block {
  width: 20%;
  height: 10vh;
  background: greenyellow;
  border-radius: 8px;
  
}
.page1{
  width: 100%;
  height: 50vh;
  background: rgba(128, 128, 128, 0.329);
  display: flex;
  align-items: center;
  justify-content: center;
}
.block2{
  width: 20%;
  height: 10vh;
  background: teal;
  border-radius: 8px;
  margin: 30px;
}
.test{
  height: 100vh;
}